{% extends "base.html" %}
{% set active_page = "budget" %}

{% block title %}Budget · PlanIT{% endblock %}
{% block page_title %}Budget{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/budget.css') }}">
{% endblock %}

    {% block content %}
    <div class="container">
        <h1 class="budget-title">Budget</h1>

        <form action="{{ url_for('main.update_budget') }}" method="POST">
            <div class="summary-box">
                <div class="card">
                    <label for="saved-input" class="label">Saved:</label>
                    <input type="number" name="saved_amount" id="saved-input" class="amount-box" value="762" step="0.01">
                </div>
                <div class="card">
                    <label for="limit-input" class="label">Limit:</label>
                    <input type="number" name="limit_amount" id="limit-input" class="amount-box" value="87" step="0.01">
                </div>
            </div>

            <div class="goal-container">
                <button type="submit" style="margin-right: 10px;" class="goal-box">Save</button>

                <div class="goal-box">
                    GOAL:<br><strong>$1,000</strong>
                </div>
            </div>
        </form>

    <div class="history-container">
        <div class="history-tab">Transaction History</div>
        <div class="history-body">
            <div class="history-header">
                <span class="header-tag">AMOUNT</span>
                <span class="header-tag">DATE</span>
            </div>

            <div class="transaction-row positive">
                <span class="symbol">+</span>
                <span class="amount">$ 20</span>
                <span class="date">Jan 23, 2026</span>
            </div>

            <div class="transaction-row negative">
                <span class="symbol">-</span>
                <span class="amount">15</span>
                <span class="date">Jan 20, 2026</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
