{% extends "base.html" %}
{% set active_page = "budget" %}

{% block title %}Budget · PlanIT{% endblock %}
{% block page_title %}Budget{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/budget.css') }}">
{% endblock %}

    {% block content %}
    <div class="container">
        <h1 class="budget-title">Budget</h1>

        <form action="{{ url_for('main.update_budget') }}" method="POST">
            <div class="summary-box">
                <div class="card">
                    <label for="saved-input" class="label">Saved:</label>
                    <input type="number" name="saved_amount" id="saved-input" class="amount-box" value="{{ last_transaction.updated_total if last_transaction else 0 }}" step="0.01" step="0.01">
                </div>
                <div class="card">
                    <label for="limit-input" class="label">Limit:</label>
                    <input type="number" name="limit_amount" id="limit-input" value="{{ last_transaction.budget_limit if last_transaction else 0 }}" class="amount-box" step="0.01">
                </div>
            </div>

            <div class="goal-container">
                <button type="submit" style="margin-right: 10px;" class="goal-box">Save</button>

                <div class="goal-box">
                    GOAL:<br><strong>$1,000</strong>
                </div>
            </div>
        </form>

    <div class="history-body">
        <div class="history-header">
            <span class="header-tag">AMOUNT</span>
            <span class="header-tag">DATE</span>
        </div>

        {% for transaction in transactions %}
        <div class="transaction-row {{ 'positive' if transaction.amount >= 0 else 'negative' }}">
            <span class="symbol">
                {{ '+' if transaction.amount >= 0 else '-' }}
            </span>
            <span class="amount">
                $ {{ "%.2f"|format(transaction.amount|abs) }}
            </span>
            <span class="date">
                {{ transaction.transaction_date }}
            </span>
        </div>
        {% else %}
        <div class="transaction-row">
            <span>No transactions found.</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
