<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>

  <div class="auth-container">
    <form class="auth-box">
        <img src="/Images/logo.png" alt="logo" srcset="">
      <h2>Log In</h2>

      <div class="input-group">
        <span class="material-icons">email</span>
        <input type="email" placeholder="Email" required>
      </div>

      <div class="input-group">
        <span class="material-icons">lock</span>
        <input type="password" placeholder="Password" required>
      </div>

      <button class="btn btn-solid" type="submit">Login</button>

      <p class="auth-link">
        Don’t have an account?
        <a href="register.html">Register</a>
      </p>
    </form>
  </div>

</body>
</html>
